#deb-cont {
  font-family: "Roboto Mono", monospace;
  padding: 20px 0 20px 0;
  width: 50%;
  margin: auto;
}

.deb-tbl {
  width: 100%;
}

.deb-tbl th,
.deb-tbl td {
  font-size: 14px;
  line-height: 16px;
  padding: 5px 15px 9px 15px;
  border-color: #d7d7d7;
  border-style: solid;
  border-width: 1px;
  vertical-align: middle;
}

.deb-tbl th {
  position: relative;
  font-weight: normal;
  color: #000;
  background-color: #e7e7e7;
  text-align: left;
}

.deb-tbl td {
  position: relative;
  color: #575757;
}

.deb-tbl td.td-cen {
  text-align: center;
}

.deb-tbl td.td-cen span {
  display: inline-block;
  padding: 0 6px 4px 6px;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  background-color: #2b5de5;
  border-radius: 10px;
}

.deb-tbl td.td-cen span.neg {
  background: none;
  color: #000;
}
