{{ define "layout" }}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=9">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" href="/static/images/fi.svg?v=1" />
      <link rel="stylesheet" type="text/css" href="/static/css/inc/reset.css" />
      <link rel="stylesheet" type="text/css" href="/static/css/inc/style.css" />
      <title>
        {{ block "title" . }}
        {{ end }}
      </title>
      {{ block "styles" . }}
      {{ end }}
      <script>
        /* to prevent Firefox FOUC, this must be here */
        let FF_FOUC_FIX;
      </script>
    </head>
    <body class="emp">
      {{ block "content" . }}
      {{ end }}
      {{ block "scripts" . }}
      {{ end }}
    </body>
  </html>
{{ end }}
